div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: auto;
}

/* button styles */
.btn {
  border: none;
  border-radius: 1rem;
  padding: 20px 30px 20px 30px;
  background-color: whitesmoke;
  font-size: 110%;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 4px 5px 10px black;
}

/* hover effect */
.btn:hover {
  box-shadow: inset 3px 3px 7px black, inset -1px -1px 7px black,
    4px 5px 10px black;
}
