html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: #eef;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h4,
h3,
h2 {
  color: #333;
  letter-spacing: 1.4px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.6rem;
}
p {
  color: #444;
  letter-spacing: 1.3px;
  margin-top: 0.9rem;
  font-size: 1.25rem;
}
/* ====================== */
/* basic setup ends */
/* ====================== */
#root {
  min-height: 110vh;
  padding: 1.25rem;
  width: 94vw;
  margin: 0 auto;
}
.loading {
  text-align: center;
  margin-top: 5rem;
  font-size: 4.5rem;
}
/* =============== */
/* Tours Component */
/* =============== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
article {
  box-shadow: 10px 10px 15px #444;
}
.title {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.underline {
  margin-top: 0.5rem;
  height: 0.4rem;
  width: 7rem;
  background-color: #5af;
}

/* ============== */
/* Tour Component */
/* ============== */

.single-tour {
  background-color: #fff;
  margin-bottom: 3.25rem;
  width: 42vw;
}
@media screen and (max-width: 976px) {
  .single-tour {
    width: 70vw;
  }
}
@media screen and (max-width: 576px) {
  .single-tour {
    width: 90vw;
  }
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
footer {
  padding: 2rem;
  text-align: center;
}
.tour-info {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}
.tour-price {
  color: #39f;
  padding: 3px 13px;
  background-color: rgba(0, 195, 255, 0.175);
}
p {
  color: #666;
  line-height: 19px;
  font-size: 0.8rem;
  text-align: justify;
}
.read-more {
  color: #39f;
  cursor: pointer;
  border: transparent;
  margin-left: 0.4rem;
  padding: 1px 0.2rem;
  background-color: transparent;
}
.read-more:focus {
  outline: 2px solid #39f;
}

.delete-btn {
  color: #39f;
  width: 11rem;
  padding: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
  border: transparent;
  border: 1px solid #39f;
  text-transform: capitalize;
  background-color: transparent;
  transition: all 100ms ease-in-out;
}
.delete-btn:hover {
  color: #f00;
  border: 1px solid #f00;
  background-color: rgba(255, 0, 0, 0.1);
}

/* ===================== */
/* btns, image and stuff */
/* ===================== */

.btn {
  color: #fff;
  /* width: 100%; */
  padding: 7px 10px;
  cursor: pointer;
  font-size: 1.175rem;
  letter-spacing: 1px;
  border-radius: 0.2em;
  margin: 1rem auto 0 auto;
  background-color: #5af;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 100ms ease-in-out;
}
.btn:hover {
  color: #5af;
  background-color: #114;
}
.btn:focus {
  color: #5af;
  background-color: #114;
  outline: 3px solid #5af;
}
/* .img-container {
  width: 70px;
  height: 70px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
} */
