.outer-box {
  background-color: rgb(20, 5, 44);
  min-height: fit-content;
  max-width: 85%;
  margin: auto;
  padding: 3rem 2rem 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 13px 13px 25px black;
}
.container {
  background-color: rgba(21, 8, 66, 0.7);
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(300px, 1fr);
  grid-template-rows: minmax(65vh, auto);
  width: 80vw;
  margin: 4rem 2rem 4rem 2rem;
  padding: 0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem 3.5rem 2rem;
}
/* ==================== */
/* Heading */
h2 {
  font-family: cursive;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 20px;
}
h2 span {
  color: blueviolet;
}
/* heading end */
/* =================== */

/* =================== */
/* contents */
.footer div,
h2,
p {
  color: white;
}
p {
  margin-top: 5%;
  margin-right: 20px;
}
.footer {
  display: flex;
  margin-top: 8.5%;
  margin-right: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer div {
  flex: 1 auto;
  display: flex;
  flex-flow: column;
  padding: 10px;
}
.footer b {
  font-size: large;
}
.footer span {
  font-family: cursive;
  font-size: large;
  font-weight: bold;
}
div img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
/* contents end */
/* ================== */
